<h1>Update Tenant Info</h1>

<label>Home Address:</label>

<form action="/tenants/<%= @tenant.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <select name="apartment[id]">
        <%@apartments.each do |apartment|%>
            <option value="<%= apartment.id %>"><%=apartment.address%></option>
        <%end%>
    </select>
    <input type="submit" value="Update Address">
</form>
