<h1>Tenant List</h1>

<ul>
    <% @tenants.each do |tenant| %>
        <li><a href= "/tenants/<%=tenant.id%>"> <%= tenant.name %> </a></li>
    <%end%>
</ul>

<button>
    <a href="/apartments">All Apartment</a>
</button>
<button>
    <a href="/tenants/new">Create New Tenant</a>
</button>


<a class="button" href="/">Home</a>
