<p>Single Tenant</p>
<br>
<label>Name:</label>
<br>
<h4><%= @tenant.name %></h4>
<br>
<label>Apartment Address:</label>
<ul>
    <li><a href="/apartments/<%=@tenant.apartment_id%>"><%=@tenant.apartment.address %></a></li>
</ul>

<button><a href="/tenants/<%=@tenant.id%>/edit">Edit</a></button>
<button><a href="/tenants">Back</a></button>

